Source: usbutils
Section: utils
Priority: required
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: libusb-compat-dev
Standards-Version: 3.9.5
Homepage: http://linux-usb.sourceforge.net/

Package: usbutils
Section: utils
Priority: required
Architecture: ARCH
Depends: libc (>= 1.1.8), ${shlibs:Depends}
Description: utilities used to display information about USB buses
 Usbutils provides utilities used to display information about
 USB buses in the system and the devices connected to them.

Package: usbutils-doc
Section: doc
Priority: optional
Architecture: all
Recommends: man-db, info
Depends: usbutils (= ${binary:Version}), libusb-compat-dev
Description: documentation for usbutils
 This package provides man pages for usbutils.
