Source: libxrender
Section: libs
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: debhelper (>= 9), libxcomposite-dev
Standards-Version: 3.9.5
Homepage: https://xorg.freedesktop.org/

Package: libxrender
Section: libs
Priority: optional
Architecture: ARCH
Depends: ${shlibs:Depends}
Description: X Rendering Extension client library
 This package provides libXrender, a shared library which contains 
 X11 Rendering routines.

Package: libxrender-dev
Section: libdevel
Priority: optional
Architecture: ARCH
Depends: libxcomposite-dev, libxrender (= ${binary:Version})
Description: libXrender development headers and static libraries
 This package provides the libXrender static library, pkgconfig data 
 and header files required for developing applications which use 
 libXrender routines.

Package: libxrender-doc
Section: doc
Priority: optional
Architecture: all
Recommends: man-db, libxrender (= ${binary:Version})
Description: documentation for libXrender
 This package provides man pages for the library routines 
 provided by libXrender.
