Source: cantarell-fonts
Section: fonts
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: debhelper (>= 9), mkfontscale, mkfontdir
Standards-Version: 3.9.5
Homepage: https://gitlab.gnome.org/GNOME/cantarell-fonts

Package: cantarell
Section: fonts
Architecture: ARCH
Priority: optional
Depends: xcursor-themes, mkfontscale, mkfontdir
Description: Humanist sans serif font
 The Cantarell typeface family provides a contemporary 
 Humanist sans serif. It is particularly optimised for 
 legibility at small sizes.
