Source: xf86-video-amdgpu
Section: libs
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: debhelper (>= 9), xorg-server-dev, libdrm-dev, 
 libmesa-dev, systemd-dev
Standards-Version: 3.9.5
Homepage: https://xorg.freedesktop.org/

Package: xf86-video-amdgpu
Section: libs
Architecture: ARCH
Priority: optional
Depends: ${shlibs:Depends}
Description: Xorg AMDGPU video Driver
 This package provides the X.Org Video Driver for newer AMD 
 Radeon video cards starting from Volcanic Islands. It can 
 also be used for Southern and Sea Islands.

Package: xf86-video-amdgpu-doc
Section: doc
Architecture: all
Priority: optional
Depends: xf86-video-amdgpu (= ${binary:Version})
Recommends: man-db
Description: X.Org AMDGPU video Driver documentation
 This package provides man pages for the X.Org AMDGPU video 
 Driver. 
