Source: xrefresh
Section: utils
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: debhelper (>= 9), libx11-dev
Standards-Version: 3.9.5
Homepage: https://xorg.freedesktop.org/

Package: xrefresh
Section: utils
Architecture: ARCH
Priority: optional
Depends: ${shlibs:Depends}
Description: refresh all or part of an X screen 
 This package provides xrefresh, a utility used to
 refresh all or part of an X screen. 

Package: xrefresh-doc
Section: doc
Priority: optional
Architecture: all
Recommends: man-db
Depends: xrefresh (= ${binary:Version})
Description: documentation for xrefresh
 This package provides a man page for xrefresh.
