Source: font-bh-ttf
Section: fonts
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: debhelper (>= 9), mkfontscale, mkfontdir
Standards-Version: 3.9.5
Homepage: https://xorg.freedesktop.org/

Package: font-bh-ttf
Section: fonts
Architecture: ARCH
Priority: optional
Depends: xcursor-themes, mkfontscale, mkfontdir
Description: X.Org Bigelow & Holmes TrueType fonts 
 This package provides X.Org Bigelow & Holmes 
 TrueType fonts.
