Source: libestr
Section: libs
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: libc-dev
Standards-Version: 3.9.5
Homepage: http://libestr.gforge.inria.fr

Package: libestr
Section: libs
Priority: optional
Architecture: ARCH
Depends: libc (>= 1.1.8), ${shlibs:Depends}
Description: routines for handling strings
 libestr provides functions for handling strings.

Package: libestr-dev
Section: libdevel
Priority: optional
Architecture: ARCH
Depends: libestr (= ${binary:Version})
Description: Development headers and static libs for libestr
 This package provides static libraries, pkgconfig data and
 header files required for development using libestr.
