Source: pcre2
Section: utils
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: gcc-dev, libbz2-dev, readline-dev, libz-dev
Standards-Version: 3.9.5
Homepage: https://www.pcre.org/

Package: libpcre2
Section: libs
Priority: optional
Architecture: ARCH
Depends: ${shlibs:Depends}
Description: set of functions that implement regular expression pattern matching
 The PCRE library is a set of functions that implement regular expression 
 pattern matching using the same syntax and semantics as Perl 5. 
 .
 PCRE has its own native API, as well as a set of wrapper functions that 
 correspond to the POSIX regular expression API.

Package: pcre2
Section: utils
Priority: optional
Architecture: ARCH
Depends: ${shlibs:Depends}
Description: utilities that use perl 5 compatible regexes
 Perl-style regexps have many useful features that the standard POSIX ones 
 don't. 
 .
 This package provides a grep utility that uses perl 5 compatible regexes.

Package: libpcre2-dev
Section: libdevel
Priority: optional
Architecture: ARCH
Provides: pcre2-dev (= ${binary:Version})
Depends: libbz2-dev, readline-dev, libz-dev, pcre2 (= ${binary:Version})
Description: Development headers and static libraries for PCRE
 This package provides pkgconfig data and header files required for
 development using PCRE.

Package: pcre2-doc
Section: doc
Priority: optional
Architecture: all
Depends: pcre2 (= ${binary:Version})
Recommends: man-db, vim
Description: documentation for PCRE
 This package provides html documentation and man pages for PCRE.
