Source: gmime
Section: libs
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: libassuan-dev, glib2-dev, libgpg-error-dev, 
 libgpgme-dev, libidn2-dev
Standards-Version: 3.9.5
Homepage: https://github.com/jstedfast/gmime

Package: libgmime3
Section: libs
Architecture: ARCH
Priority: optional
Depends: ${shlibs:Depends}
Provides: gmime3 (= ${binary:Version})
Description: A C/C++ MIME creation and parser library
 GMime is a C/C++ library which may be used for the 
 creation and parsing of messages using the Multipurpose 
 Internet Mail Extension (MIME) as defined by numerous 
 IETF specifications.
 .
 This package provides the libgmime shared library.

Package: libgmime3-dev
Section: libdevel
Architecture: ARCH
Priority: optional
Provides: gmime3-dev (= ${binary:Version})
Depends: libgmime3 (= ${binary:Version}), libassuan-dev, 
 glib2-dev, libgpg-error-dev, libgpgme-dev, libidn2-dev
Description: GMime headers and static library
 This package provides the libgmime static library, 
 pkgconfig data and header files required to develop
 applications which use GMime API functions.
