Source: libgpg-error
Section: libs
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: gcc-dev
Standards-Version: 3.9.5
Homepage: https://www.gnu.org/software/libgpg-error/

Package: libgpg-error
Section: libs
Priority: optional
Architecture: ARCH
Depends: libc (>= 1.1.8), ${shlibs:Depends}
Description: provides common error values for all GnuPG components.
 libgpg-error defines common error values for all GnuPG components. 
 .
 This package provides the libgpg-error shared library and gpg-error,
 a tool used to determine libgpg-error error codes.

Package: libgpg-error-dev
Section: libdevel
Priority: optional
Architecture: ARCH
Depends: libgpg-error (= ${binary:Version}), gcc-dev
Description: Development headers and libgpg-error static library
 This package provides libgpg-error.a and headers required to build 
 applications, libraries or plugins using the libgpg-error API.

Package: libgpg-error-doc
Section: doc
Priority: optional
Architecture: all
Recommends: man-db, info
Depends: libgpg-error (= ${binary:Version})
Description: documentation for libgpg-error
 This package provides info and man pages for libgpg-error.
