Source: mesa
Section: libs
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: debhelper (>= 9), libdrm-dev, libexpat-dev, 
 libomxil-bellagio-dev, libunwind-dev, libwayland-dev, 
 libx11-dev, libxcb-dev, libxdamage-dev, libxext-dev, 
 libxfixes-dev, libxshmfence-dev, libxv-dev, libxvmc-dev, 
 libxxf86vm-dev
Standards-Version: 3.9.5
Homepage: https://www.mesa3d.org/

Package: libmesa
Section: libs
Priority: optional
Architecture: ARCH
Depends: ${shlibs:Depends}
Description: An open-source implementation of the OpenGL specification
 Mesa is an OpenGL compatible 3D graphics library.
 .
 This package provides libmesa shared libraries which 
 contain API routines used for rendering 3D graphics.

Package: libmesa-dev
Section: libdevel
Priority: optional
Provides: mesa-dev
Architecture: ARCH
Depends: libmesa (= ${binary:Version}), libdrm-dev,
 libomxil-bellagio-dev, libunwind-dev, libwayland-dev,
 libx11-dev, libxcb-dev, libxdamage-dev, libxext-dev,
 libxfixes-dev, libxshmfence-dev, libxv-dev, libxvmc-dev, 
 libxxf86vm-dev, libexpat-dev
Description: libmesa development headers and pkgconfig data
 This package provides libmesa pkgconfig data and header 
 files required for developing applications which use 
 libmesa routines.
