Source: rpcsvc-proto
Section: devel
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/thkukuk/rpcsvc-proto

Package: rpcgen
Section: utils
Architecture: ARCH
Priority: optional
Depends: ${shlibs:Depends}
Description: creates header files and sources from protocol files
 This package provides rpcgen, a tool used to create 
 header files and sources from protocol files.

Package: rpcsvc-proto
Section: devel
Architecture: ARCH
Priority: optional
Depends: rpcgen (= ${binary:Version}), gcc-dev
Description: rpcsvc protocol definitions from glibc
 This package contains rpcsvc proto.x files from glibc, 
 which are missing in libtirpc. 

Package: rpcgen-doc
Section: doc
Architecture: all
Priority: optional
Depends: rpcgen (= ${binary:Version})
Recommends: man-db
Description: rpcgen documentation
 This package provides the manual page for rpcgen.
