Source: bluez
Section: admin
Priority: required
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: glib2-dev, libical-dev, dbus-dev
Standards-Version: 3.9.5
Homepage: http://www.bluez.org/

Package: bluez
Section: admin
Priority: required
Architecture: ARCH
Depends: libc (>= 1.1.8), ${shlibs:Depends}
Description: the Bluetooth protocol stack for Linux
 BlueZ provides support for the core Bluetooth layers and protocols.

Package: bluez-dev
Section: libdevel
Priority: optional
Architecture: ARCH
Depends: bluez (= ${binary:Version}), glib2-dev, libical-dev, dbus-dev
Description: Development headers and libbluetooth static library
 This package provides libbluetooth.a, headers and pkgconfig data
 required to build applications, libraries or plugins using the
 bluez API.

Package: bluez-doc
Section: doc
Priority: optional
Architecture: all
Depends: bluez (= ${binary:Version})
Recommends: man-db
Description: documentation for bluez
 This package provides man pages for utilities provided by Bluez.
