Source: libsm
Section: libs
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: debhelper (>= 9), libice-dev, util-linux-dev
Standards-Version: 3.9.5
Homepage: https://xorg.freedesktop.org/

Package: libsm
Section: libs
Priority: optional
Architecture: ARCH
Depends: ${shlibs:Depends}
Description: X11 Session Management library
 This package provides libSM, a shared library which contains 
 X11 Session Management routines.

Package: libsm-dev
Section: libdevel
Priority: optional
Architecture: ARCH
Depends: libice-dev, util-linux-dev, libsm (= ${binary:Version})
Description: libSM development headers and static libraries
 This package provides the libSM static library, pkgconfig data 
 and header files required for developing applications which use 
 libSM routines.

Package: libsm-doc
Section: doc
Priority: optional
Architecture: all
Recommends: vim, libsm (= ${binary:Version})
Description: documentation for libSM
 This package provides text documentation for the library routines 
 provided by libSM.
