#!/usr/bin/make -f

DH_VERBOSE = 1
#DPKG_EXPORT_BUILDFLAGS = 1

clean:
	dh_clean

build:

build-arch:

build-indep:

binary:
	dh_prep
	dh_install --sourcedir=debian/pkg
	dh_link
	dh_compress
	#dh_fixperms
	dh_makeshlibs -v -n
	dh_shlibdeps -v
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:

binary-indep:

