Source: graphite2
Section: utils
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: gcc-dev
Standards-Version: 3.9.5
Homepage: http://scripts.sil.org/cms/scripts/page.php?site_id=projects&item_id=graphite_home

Package: libgraphite2-static
Section: libs
Priority: optional
Architecture: ARCH
Depends: ${shlibs:Depends}
Description: provides a rendering engine for complex scripts
 Graphite2 is a rendering engine for graphite fonts. These are TrueType 
 fonts with additional tables containing smart rendering information and 
 were originally developed to support complex non-Roman writing systems.
 .
 This package provides libgraphite2 static libraries.
