Source: libgcrypt
Section: libs
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: gcc-dev, libgpg-error-dev, libcap-dev
Standards-Version: 3.9.5
Homepage: https://gnupg.org/software/libgcrypt/index.html

Package: libgcrypt
Section: libs
Priority: optional
Architecture: ARCH
Depends: ${shlibs:Depends}
Description: a general purpose crypto library
 libgcrypt is a general purpose crypto library based on the code 
 used in GnuPG. 
 .
 The library provides a high level interface to cryptographic 
 building blocks using an extendable and flexible API. 
 .
 This package provides the libgcrypt shared library.

Package: libgcrypt-bin
Section: utils
Priority: optional
Architecture: ARCH
Depends: ${shlibs:Depends}
Description: libgcrypt userspace tools
 This package provides libgcrypt utilities.

Package: libgcrypt-dev
Section: libdevel
Priority: optional
Architecture: ARCH
Depends: libgcrypt-bin (= ${binary:Version}), libgpg-error-dev, 
 libcap-dev
Description: Development headers and libgcrypt static library
 This package provides libgcrypt.a, headers and pkgconfig data 
 required to build applications, libraries or plugins using the 
 libgcrypt API.

Package: libgcrypt-doc
Section: doc
Priority: optional
Architecture: all
Recommends: info, links
Depends: libgcrypt-bin (= ${binary:Version})
Description: documentation for libgcrypt
 This package provides info and man pages for libgcrypt.
