Source: libglvnd
Section: libs
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: debhelper (>= 9), libx11-dev, libxext-dev
Standards-Version: 3.9.5
Homepage: https://github.com/NVIDIA/libglvnd

Package: libglvnd
Section: libs
Priority: optional
Architecture: ARCH
Depends: ${shlibs:Depends}
Description: The GL Vendor-Neutral Dispatch library
 libglvnd is a vendor-neutral dispatch layer for arbitrating 
 OpenGL API calls between multiple vendors. 
 .
 It allows multiple drivers from different vendors to coexist 
 on the same filesystem, and determines which vendor to dispatch 
 each API call to at runtime.
 .
 This package provides libglvnd shared libraries.

Package: libglvnd-dev
Section: libdevel
Priority: optional
Architecture: ARCH
Depends: libx11-dev, libxext-dev, libglvnd (= ${binary:Version})
Description: libglvnd headers and static libraries
 This package provides libglvnd static libraries, pkgconfig data 
 and header files required for developing applications which use 
 libglvnd API routines.
