Source: font-adobe-utopia-type1
Section: fonts
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: debhelper (>= 9), mkfontscale
Standards-Version: 3.9.5
Homepage: https://xorg.freedesktop.org/

Package: font-adobe-utopia-type1
Section: fonts
Architecture: ARCH
Priority: optional
Depends: xcursor-themes, mkfontscale
Description: X.Org Adobe Utopia Type 1 fonts 
 This package provides X.Org Adobe Utopia Type 
 1 fonts.

