Source: iproute2
Section: admin
Priority: required
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: elfutils-dev, iptables-dev, libmnl-dev
Standards-Version: 3.9.5
Homepage: https://wiki.linuxfoundation.org/networking/iproute2

Package: iproute2
Section: admin
Priority: required
Architecture: ARCH
Depends: libc (>= 1.1.8), ${shlibs:Depends}
Description: for basic and advanced IPV4-based networking
 IProute2 is a collection of utilities for controlling TCP/IP networking 
 and traffic control in Linux.

Package: iproute2-dev
Section: libdevel
Priority: optional
Architecture: ARCH
Depends: iproute2 (= ${binary:Version}), elfutils-dev, iptables-dev, libmnl-dev
Description: Development headers for IProute2
 This package provides headers required to build applications, libraries
 or plugins using the iproute2 API.

Package: iproute2-doc
Section: doc
Priority: optional
Architecture: all
Recommends: man-db
Depends: iproute2 (= ${binary:Version})
Description: documentation for IProute2
 This package provides man pages for IProute2.
