Source: xclock
Section: utils
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: debhelper (>= 9), libx11-dev, libxaw-dev, libxft-dev, libxkbfile-dev, libxmu-dev, libxrender-dev, libxt-dev
Standards-Version: 3.9.5
Homepage: https://xorg.freedesktop.org/

Package: xclock
Section: utils
Architecture: ARCH
Priority: optional
Depends: ${shlibs:Depends}
Description: an analog/digital clock for X
 This package provides xclock, an analog/digital 
 clock for X.

Package: xclock-doc
Section: doc
Priority: optional
Architecture: all
Recommends: man-db
Depends: xclock (= ${binary:Version})
Description: documentation for xclock
 This package provides a man page for xclock.
