Source: libcuefile
Section: libs
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: debhelper (>= 9), gcc-dev
Standards-Version: 3.9.5
Homepage: http://www.musepack.net/

Package: libcuefile
Section: libs
Architecture: ARCH
Priority: optional
Depends: ${shlibs:Depends}
Description: provides an API for parsing CUE sheets.
 This package provides libcuefile, a shared library which 
 provides an API for parsing and extracting data from 
 CUE sheets.

Package: libcuefile-dev
Section: libdevel
Architecture: ARCH
Priority: optional
Depends: libcuefile (= ${binary:Version}), gcc-dev
Description: libcuefile headers and static library
 This package provides the libcuefile static library, 
 pkgconfig data and header files required to develop
 applications which use libcuefile API functions.
