Source: libdaemon
Section: libs
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: gcc-dev
Standards-Version: 3.9.5
Homepage: http://0pointer.de/lennart/projects/libdaemon/

Package: libdaemon
Section: libs
Architecture: ARCH
Priority: optional
Depends: ${shlibs:Depends}
Description: a lightweight C library that eases the writing of UNIX daemons.
 This package provides libdaemon, a shared library 
 which provides an API for writing UNIX daemons.

Package: libdaemon-dev
Section: libdevel
Architecture: ARCH
Priority: optional
Depends: libdaemon (= ${binary:Version}), gcc-dev
Description: libdaemon headers and static library
 This package provides the libdaemon static library, 
 pkgconfig data and header files required to develop
 applications which use libdaemon API functions.
