Source: diffutils
Section: utils
Priority: required
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: debhelper (>= 9), automake, bash-dev
Standards-Version: 3.9.5
Homepage: https://www.gnu.org/software/diffutils/

Package: diffutils
Section: utils
Priority: required
Essential: yes
Architecture: ARCH
Depends: libc (>= 1.1.8), ${shlibs:Depends}
Description: utilities for finding differences between files.
 GNU diffutils is a set of utilities used for finding differences
 between files.

Package: diffutils-doc
Section: doc
Priority: optional
Architecture: all
Depends: diffutils (= ${binary:Version})
Description: documentation for GNU diffutils
 This package contains man pages for GNU diffutils.
