Source: libmicrohttpd
Section: libs
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: libc-dev
Standards-Version: 3.9.5
Homepage: https://www.gnu.org/software/libmicrohttpd/

Package: libmicrohttpd
Section: libs
Priority: optional
Architecture: ARCH
Depends: libc (>= 1.1.8), ${shlibs:Depends}
Description: Small C library to run an HTTP server as part of another application
 GNU libmicrohttpd is a small C library that is supposed to make it
 easy to run an HTTP server as part of another application.

Package: libmicrohttpd-dev
Section: libdevel
Priority: optional
Architecture: ARCH
Depends: libmicrohttpd (= ${binary:Version})
Description: Development headers and static libs for libmicrohttpd
 This package provides static libraries, pkgconfig data and
 header files required for development using libmicrohttpd.

Package: libmicrohttpd-doc
Section: doc
Priority: optional
Architecture: all
Recommends: man-db, info
Depends: libmicrohttpd (= ${binary:Version})
Description: documentation for libmicrohttpd
 This package provides man pages for libmicrohttpd.
