Source: nettle
Section: net
Priority: optional
Maintainer: Tux Mason <tuxmason@gmail.com>
Build-Depends: gcc-dev
Standards-Version: 3.9.5
Homepage: https://www.lysator.liu.se/~nisse/nettle/

Package: libnettle
Section: libs
Priority: required
Architecture: ARCH
Depends: libc (>= 1.1.8), ${shlibs:Depends}
Description: a low-level cryptographic library
 Nettle is a cryptographic library that is designed to fit easily in more
 or less any context: In crypto toolkits for object-oriented languages (C++,
 Python, Pike, ...), in applications like LSH or GNUPG, or even in kernel
 space.
 .
 This package provides Nettle shared libraries.

Package: nettle
Section: net
Priority: optional
Architecture: ARCH
Depends: libc (>= 1.1.8), ${shlibs:Depends}
Description: Nettle userspace tools
 Nettle is a cryptographic library that is designed to fit easily in more 
 or less any context: In crypto toolkits for object-oriented languages (C++, 
 Python, Pike, ...), in applications like LSH or GNUPG, or even in kernel 
 space.
 .
 This package provides Nettle userspace utilities.

Package: libnettle-dev
Section: libdevel
Provides: nettle-dev
Priority: optional
Architecture: ARCH
Depends: libnettle (= ${binary:Version}), gcc-dev
Description: Development headers and Nettle static libraries
 This package provides libnettle.a, libhogweed.a, headers and pkgconfig data 
 required to build applications, libraries or plugins using the Nettle API.

Package: nettle-doc
Section: doc
Priority: optional
Architecture: all
Recommends: man-db
Depends: nettle (= ${binary:Version})
Description: documentation for nettle
 This package provides an info page for Nettle.
